<div class="parent-container">
  <div class="child-container">
    <h2>Hello, Welcome to <b>Search your food!!!
    </b></h2>
    <span class="desc">Search your food is a Mashup Web Application which is built using <i>Nutritionix & Responsivevoice API</i> . This application is used to check the calories and servings in grams for the food item you search for.</span><br><br><br>
    <form>
      <div class="form-group">
        <label>Subscribe to our news letter:</label><br><br>
          <div class="form-group col-lg-4 col-lg-offset-4">
            <input type="text" class="form-control" placeholder="name@example.com" />
          </div><br>
        <button class="btn btn primary col-lg-2 col-lg-offset-5 ">Submit</button>
      </div>
    </form>
  </div>
</div>
