<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/customers']">
    <mat-icon>list</mat-icon>
  </a>
</div>
<form [formGroup]="customerForm" (ngSubmit)="onFormSubmit(customerForm.value)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Customer ID" formControlName="CustID"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!customerForm.get('CustID').valid && customerForm.get('CustID').touched">Please enter Customer ID</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Customer Name" formControlName="CustName"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!customerForm.get('CustName').valid && customerForm.get('CustName').touched">Please enter Customer Nsame</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Customer Email" formControlName="CustEmail"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!customerForm.get('CustEmail').valid && customerForm.get('CustEmail').touched">Please enter Customer Email</span>
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <button type="submit" [disabled]="!customerForm.valid" mat-raised-button color="primary">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</form>
