doctype html
html
    head
        title "Hello Pug"
        link(rel="stylesheet" href="/css/styles.css")
        script(src="/js/script.js")

    body
        h1 Welcome to the Main Page
        p.
            This is a multiline text
            We should use dot to write a multiline text
        ul
            li This is list item#1
            li This is list item#2
            li This is list item#3
        h1#heading This is my heading
        p.paragraph This is my paragraph

        input(type="text" data-js=`${5>2 ? "OK": "NOT OK"}`)
        input(type="password")

        -const myClasses = ["class1", "class2", "class3"]
        div(class = myClasses)

        each n in [1,2,3,4,5]
            p= n
        else
            p Empty Array

        -let user = {name:'siri', loggedIn: true}

        if user.loggedIn
            p Valid User
        else
            p InValid User

