<div class="parent-container">
  <div class="child-container">
    <div style="color: white; text-align: center">
      <h2><b>Register
      </b></h2></div><br>
    <div class="form-group">
      <div class="form-group col-lg-6 col-lg-offset-3 input-group">
        Name : <input type="text" class="form-control" placeholder="Name" #name>
        <br>
        Email Address: <input type="text" class="form-control" placeholder="Email Id"  ngModel email #email>
        <br>
        Username : <input type="text" class="form-control" placeholder="username" #uname>
        <br>
        Password : <input class="form-control" placeholder="password" type="password" #password>
        <br>
        Confirm Password : <input class="form-control" placeholder="Confirm password" type="password" #confirmpassword>
      </div><br>
      <button type="button" class="btn btn primary col-lg-2 col-lg-offset-5 " (click)="register();">Register</button>
    </div>
  </div>
</div>
