<!DOCTYPE html>
<html>
  <head>
    <title>"Hello Pug"</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/script.js"></script>
  </head>
  <body>
    <h1>Welcome to the Main Page</h1>
    <p>
      This is a multiline text
      We should use dot to write a multiline text
    </p>
    <ul>
      <li>This is list item#1</li>
      <li>This is list item#2</li>
      <li>This is list item#3</li>
    </ul>
    <h1 id="heading">This is my heading</h1>
    <p class="paragraph">This is my paragraph</p>
    <input type="text" data-js="OK">
    <input type="password">
    <div class="class1 class2 class3"></div>
    <p>1</p>
    <p>2</p>
    <p>3</p>
    <p>4</p>
    <p>5</p>
    <p>Valid User</p>
  </body>
</html>