<div class="parent-container">
  <div class="child-container">
    <h2><b>Login
    </b></h2><br>
      <div class="form-group">
        <div class="form-group col-lg-6 col-lg-offset-3 input-group">
          Username : <input [(ngModel)]="uname" type="text" class="form-control" placeholder="username">
          <br>
         Password : <input [(ngModel)]="password" type="text" class="form-control" placeholder="password" type="password">
        </div><br>
        <button type="button" class="btn btn primary col-lg-2 col-lg-offset-5 " (click)="login(uname,password);">Login</button>
        <br><br><br>
        <button type="button" class="btn btn primary col-lg-2 col-lg-offset-5 " (click)="regsiter();">New User? Register here</button>
      </div>
  </div>
</div>



