<!--background="img-12.jpg"-->
<body>
<style>
  #weather {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #weather td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #weather tr:nth-child(even){background-color: #f2f2f2;}

  #weather tr:hover {background-color: #ddd;}

  #weather th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
</style>
<h1 style="text-align: center; font-family: 'Droid Serif'"><strong>WEATHER REPORT</strong></h1>
<div ng-controller="weatherController">

  <div class="input">
    <input type="text" class="form-control" placeholder="Country" #country>
    <br>
    <input type="text" class="form-control" placeholder="city" #city>
    <br><br>
    <button type="button" class="btn btn-dark" (click)="showWeather();">Show Weather</button>
    <br/><br/>
  </div>
  <table id="weather">
    <tr>
    <th>Temperature</th>
    <th>Pressure</th>
    <th>Humidity</th>
    <th>Wind Speed</th>
    <th>Wind dec</th>
  </tr>
  <tr *ngFor="let weather of weatherlist">
     <td>{{ weather.temp }}</td>
      <td>{{ weather.pressure }}</td>
      <td>{{ weather.humidity }}</td>
       <td>{{ weather.speed }}</td>
        <td>{{ weather.deg }}</td>
    </tr>
  </table></div></body>
